<html>
	<head>elastic search demo
		<title>elastic search demo</title>
	</head>
<body>
	<h2>Enter Your search query</h2>
	<form method="POST" action="/searchFor">
	Search Query:<input type="text" name="keyword"></input>
	<input type="submit" name="submit"></input>
	</form>
</hr>
<h2>Enter Your detail</h2>
	<form method="POST" action="/saveUser">
	Name:<input type="text" name="name"></input></br>
	About:<input type="text" name="about"></input></br>
	UID:<input type="text" name="UID"></input></br>
	<input type="submit" name="submit"></input>
	</form>
</body>
</head>
</html>
